version: '3.8'

services:
  web:
    build: .
    command: cd cv_platform && gunicorn cv_platform.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=False
      - PORT=8000
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:

